/* src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.min.css";

:root {
  --primary-dark: #0a0a23;
  --primary-light: #ffffff;
  --accent-red: #e60000;
  --accent-blue: #3366ff;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
